= entry.fieldset do
  - @base_languages.each do |lang|
    = entry.text_field :"term_in_#{lang}", "#{I18n.t(lang).capitalize}", :class => "input-xlarge" do
      - if (lang == Entry.glossary_language)
        %p.help-block
          #{I18n.t(lang).capitalize}
          =I18n.t('ui.add_entry_source_hint')
  = entry.text_area :info, I18n.t('ui.add_entry_usage'), :class => "input-xxlarge", :rows => 3 do
    %p.help-block= I18n.t('ui.add_entry_usage_hint')
  = entry.text_area :note, I18n.t('ui.add_entry_translator'), :class => "input-xxlarge", :rows => 3 do
    %p.help-block= I18n.t('ui.add_entry_translator_hint')