= entry.fieldset do
  - @base_languages.each do |lang|
    = entry.text_field :"term_in_#{lang}", "#{I18n.t(lang).capitalize}", :class => "input-xlarge" do
      - if (lang == Entry.glossary_language)
        %p.help-block
          #{I18n.t(lang).capitalize} is the source language for this glossary so terms in this language can't be blank and must be unique.
  = entry.text_area :info, "Usage information", :class => "input-xxlarge", :rows => 3 do
    %p.help-block
      Usage information is viewable by all users.
  = entry.text_area :note, "Translator notes", :class => "input-xxlarge", :rows => 3 do
    %p.help-block
      Translator notes are only viewable to logged-in users.
