- title (page_title = "Search glossary")
.page-header
  %h1
    = page_title
  = form_tag entries_path, :method => :get do
    = text_field_tag :search, nil, :class => "large", :placeholder => "Enter search terms..."
    = submit_tag "Submit"
  .clearfix.search-terms-box
    Search terms:
    %strong=params[:search] || "None"

- if @entries.empty?
  No entries found.
- else
  %table.entries-list.bordered-table{ :class => (logged_in? ? "logged-in" : "logged-out") + (manager? ? " manager" : " contributor")}
    %colgroup.col-index
    - @base_languages.each do 
      %colgroup.col-term
    - if logged_in? 
      %colgroup.col-added_by
      %colgroup.col-status
    - if manager?
      %colgroup.col-actions
    %thead
      %tr
        %th 
        - @base_languages.each do |lang|
          %th=I18n.t(lang.to_s).capitalize
        - if logged_in?
          %th Added by
          %th Status
        - if manager?
          %th Actions
    %tbody
      - @entries.each_with_index do |entry,i|
        %tr
          %td
            = i + 1
          - @base_languages.each do |lang|
            %td
              - Globalize.with_locale(lang) do
                - if (lang == entry.glossary_language)
                  = link_to highlight(entry.term, @tokens), entry
                - else
                  = highlight(entry.term, @tokens) unless entry.term.nil?
          - if logged_in?
            %td= link_to entry.user.name, entry.user
            %td
              - if entry.approved?
                %span.label.success approved
              - else
                %span.label.warning unapproved
          - if manager?
            %td
              = link_to sprite_img("icons-cross"), entry, :confirm => "Are you sure you want to destroy this entry?", :method => :delete, :title => "destroy"
              = link_to sprite_img("icons-pencil"), "#", :title => "edit"
              - if entry.approved?
                = link_to sprite_img("icons-thumb"), entry_path(entry, :entry => { :approved => false}), :method => :put, :title => "unapprove"
              - else
                = link_to sprite_img("icons-thumb-up"), entry_path(entry, :entry => { :approved => true}), :method => :put, :title => "approve"
