- title (page_title = @entry.term_in_glossary_language)
.page-header
  %h1
    = page_title
    - if logged_in?
      - if @entry.approved?
        %span.btn.btn-success.btn-mini=I18n.t('ui.status_approved')
      - else
        %span.btn.btn-warning.btn-mini=I18n.t('ui.status_unapproved')
  - if @entry.changeable_by?(@current_user)
    .clearfix{ :style => "padding: 10px 2px" }
      #{@current_user.role.capitalize} functions:
      = link_to I18n.t('ui.entry_actions_edit'), edit_entry_path(@entry)
      |
      = link_to I18n.t('ui.entry_actions_delete'), @entry, :confirm => "Are you sure you want to destroy this entry?", :method => :delete
      - if manager?
        |
        - if @entry.approved?
          = link_to I18n.t('ui.entry_actions_unapprove'), approve_entry_path(@entry, :entry => { :approved => false }), :method => :post
        - else
          = link_to I18n.t('ui.entry_actions_approve'), approve_entry_path(@entry, :entry => { :approved => true }), :method => :post
  
%small
   
  = I18n.t('ui.entry_creation_history', :added_by => t('ui.entry_added_by'), :author => 'Jeremy', :datetime => @entry.created_at.strftime('%B %-d, %Y @ %l:%M %p'))
  = I18n.t('ui.entry_update_history', :updated_by => t('ui.entry_updated_at'), :datetime => @entry.updated_at.strftime('%B %-d, %Y @ %-l:%M %p'))

%table.table.table-bordered.glossary-entry
  %thead
    %tr
      - @base_languages.each do |lang|
        %th=I18n.t(lang.to_s).capitalize
  %tbody
    %tr
      - @base_languages.each do |lang|
        - Globalize.with_locale(lang) do
          %td= @entry.term
%table.table.table-bordered.usage-info
  %thead
    %tr
      %th=I18n.t('ui.add_entry_usage')
  %tbody
    %tr
      %td= auto_link(simple_format(@entry.info))
- if logged_in?
  %table.table.table-bordered.translator-notes
    %thead
      %tr
        %th=I18n.t('ui.add_entry_translator')
    %tbody
      %tr
        %td= auto_link(simple_format(@entry.note))
