- title (page_title = @entry.term_in_glossary_language)
.page-header
  %h1
    = page_title
    - if logged_in?
      - if @entry.approved?
        %span.label.success approved
      - else
        %span.label.warning unapproved
  - if @entry.changeable_by?(@current_user)
    .clearfix{ :style => "padding: 10px 2px" }
      #{@current_user.role.capitalize} functions:
      = link_to 'Delete', @entry, :confirm => "Are you sure you want to destroy this entry?", :method => :delete
      - if manager?
        |
        - if @entry.approved?
          = link_to 'Unapprove', entry_path(@entry, :entry => { :approved => false }), :method => :put
        - else
          = link_to 'Approve', entry_path(@entry, :entry => { :approved => true }), :method => :put
  
%small
  Added by 
  = link_to @entry.user.name, @entry.user
  = "on #{@entry.created_at.strftime('%B %d, %Y @ %l:%M %p')}."

%table.bordered-table{ :style => "margin-top: 20px; table-layout: fixed" }
  %thead
    %tr
      - @base_languages.each do |lang|
        %th{ :style => "text-align: center; background-color: #F9F9F9"}=I18n.t(lang.to_s).capitalize
  %tbody
    %tr
      - @base_languages.each do |lang|
        - Globalize.with_locale(lang) do
          %td{ :style => "text-align: center; font-size: 160%"}
            - if (lang != @glossary_language) && logged_in? && @entry.changeable_by?(@current_user)
              = best_in_place @entry, "term_in_#{lang}"
              = sprite_img("icons-pencil")
            - else
              = @entry.term
%h4 Translator notes
~ best_in_place @entry, :note, type: :textarea, :display_with => :simple_format
