= user.fieldset do
  = user.text_field :name, I18n.t('ui.username') do
    %span.help-block
      =I18n.t('ui.username_hint')
  = user.password_field :password, I18n.t('ui.password') do
    %span.help-block
      =I18n.t('ui.password_hint')
  = user.password_field :password_confirmation, I18n.t('ui.password_confirmation')
  = user.collection_select :role, I18n.t('ui.user_role'), User::ROLES, :to_s, :titleize do
    %span.help-block
      =I18n.t('ui.role_hint_contributor')
      %br=I18n.t('ui.role_hint_terminologist')