- title (page_title = "Edit user")
.page-header
  %h1
    = page_title

= twitter_bootstrap_form_for @user, :html => { :class => 'form-horizontal' } do |user|
  = render 'form', :user => user
  = user.actions do
    = user.submit 'Save'
    = link_to 'Cancel', @user, :class => 'btn'
