- title (page_title = manager? ? "Manage Users" : "Users")
/- title (page_title = manager? ? I18n.t('ui.users_header_admin') : I18n.t('ui.users_header_contributor'))
.page-header
  %h1
    = page_title
  - if manager?
    .clearfix{ :style => "padding:10px 2px" }
      Manager functions:
      = link_to 'Create user', new_user_path

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Username
      %th Role
      %th Glossary entries added
      %th Registered on
      - if manager?
        %th Actions
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user_path(user) 
        %td
          = user.role.capitalize
        %td= user.entries.length
        %td= user.created_at.strftime('%B %d, %Y @ %l:%M %p')
        - if manager?
          %td
            = link_to "delete", user, :confirm => "Are you sure you want to delete user \"#{user.name}\"?", :method => :delete, :class => "btn"
            = link_to "edit", edit_user_path(user), :class => "btn"
