- title (page_title = manager? ? I18n.t('ui.users_header_admin') : I18n.t('ui.users_header_contributor'))
.page-header
  %h1
    = page_title
  - if manager?
    .clearfix{ :style => "padding:10px 2px" }
      =I18n.t('ui.user_admin_functions')
      = link_to I18n.t('ui.users_create'), new_user_path

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th=I18n.t('ui.username')
      %th=I18n.t('ui.user_role')
      %th=I18n.t('ui.user_entry_count')
      %th=I18n.t('ui.user_registered_on')
      - if manager?
        %th=I18n.t('ui.actions')
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user_path(user) 
        %td
          = user.role.capitalize
        %td= user.entries.length
        %td= user.created_at.strftime('%B %d, %Y @ %l:%M %p')
        - if manager?
          %td
            = link_to I18n.t('ui.actions_delete'), user, :confirm => I18n.t('ui.user_actions_delete_conf', :user => user.name), :method => :delete, :class => "btn"
            = link_to I18n.t('ui.actions_edit'), edit_user_path(user), :class => "btn"