- title (page_title = "Create user")
.page-header
  %h1
    = page_title

= twitter_bootstrap_form_for @user do |user|

  = user.inputs 'New user info' do
    = user.text_field :name, 'User name'
    = user.password_field :password, 'Password'
    = user.password_field :password_confirmation, 'Confirm password'
    = user.collection_select :role, 'Role', User::ROLES, :to_s, :titleize, :prompt => true

  = user.actions do
    = user.submit 'Create'
    = button_tag 'Cancel', :type => 'reset', :class => 'btn'
