= twitter_bootstrap_form_for @user do |user|

  = user.inputs 'Add a new user' do
    = user.text_field :name, 'User name'
    = user.password_field :password, 'Password'

  = user.actions do
    = user.submit 'Submit'
