!!!
%html
  %head
    %title Yogoshu
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
  %body{ :style => "padding-top: 40px" }
    .topbar-wrapper
      .topbar
        .topbar-inner
          .container
            %h3
              = link_to Yogoshu, homepage_path
            %ul.nav
              %li= link_to "About", '#'
              %li= link_to "Contact", '#'
            - if logged_in?
              %ul.nav.secondary-nav
                %li= link_to "Profile", user_path(@current_user)
                %li= link_to "Logout", logout_path
            - else
              = form_tag login_path, :method => :post, :class => "pull-right" do
                = text_field :user, :name, { :class => "input-small", :placeholder => "Username" }
                = password_field :user, :password, { :class => "input-small", :placeholder => "Password" }
                = button_tag 'Login', :class => "btn"
    .container
      .content
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
        = yield
